.container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  //   outline: 3px solid green;

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
  @media screen and (min-width: 1992px) {
    width: 1992px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1024px) {
      justify-content: center;
    }
    @media screen and (min-width: 1992px) {
      justify-content: center;
    }
  }

  &--hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
