.ellipse {
  fill: none;
  stroke-width: 55px;
}

.contacts__icon {
  fill: url("./img/icons.svg#myGradient");
  fill: red;
}

.grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  //   outline: 3px solid tomato;

  gap: 0.8rem;

  @media screen and (min-width: 1024px) {
    gap: 3rem;
  }

  &__item {
    // outline: 3px solid blue;

    width: 6.6rem;
    height: 6.6rem;

    @media screen and (min-width: 1024px) {
      width: 25rem;
      height: 25rem;
    }
    &--services {
      @include sizeGrid(3, 15px);
    }
  }
}
