.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;

  width: 100vw;
  height: 6rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: #ffffff;

  &__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @media screen and (min-width: 1024px) {
    //   display: none;
    // }
    @media screen and (min-width: 1992px) {
      display: none;
    }
  }

  &__logo {
    width: 9.6rem;

    // @media screen and (min-width: 1024px) {
    //   width: 19.1rem;
    // }

    @media screen and (min-width: 1992px) {
      width: 19.1rem;
    }
  }

  &__nav {
    display: none;

    // @media screen and (min-width: 1024px) {
    //   display: block;
    // }

    @media screen and (min-width: 1992px) {
      display: block;
    }
  }
}
