.zigzag {
  display: block;
  margin-right: auto;
  margin-left: auto;

  fill: none;
  stroke: url(#linear-zigzag);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;

  &--getting {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.box-ellipse1 {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.box-ellipse2 {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}

.zigzag-blog {
  margin-top: 1.8rem;

  fill: none;
  stroke: url(#linear-zigzag);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;

  &--feedback {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

.arrow-left {
  fill: white;
}
