.image {
  &--logo-header {
    width: 9.6rem;
    height: 5rem;
  }

  &--logo-footer {
    margin-top: 3rem;

    width: 13.4rem;
    height: 7rem;
  }

  &--getting {
    width: 100%;
    height: 15.9rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &--box {
    width: 14rem;
    height: 26.3rem;
  }

  &--posts {
    width: 14rem;
    height: 14rem;
  }

  &--client {
    width: 6.2rem;
    height: 6.9rem;
  }
}
