.mobile-menu {
  height: 42.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  &__ellipse-small {
    position: absolute;
    bottom: 8.6rem;
    right: 5rem;

    fill: url(#linear-mobile-menu-ellipse-small);
  }

  &__ellipse-big {
    position: absolute;
    bottom: 0;
    right: 0;

    transform: translate(50%, 50%);

    fill: url(#linear-mobile-menu-ellipse-big);
  }
}
