.page {
  margin: 0;

  font-family: Roboto;
  //   font-size: 50px;
  //   background-color: aqua;

  header {
    color: brown;
  }

  //   background-color: getColor('secondary');
  //   color: getColor('primary');
  //   font-family: $primary-font;
  box-sizing: border-box;
}

// body {
//   font-family: system-ui, -apple-system,
//     /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
//     Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
// }
