@mixin position($position, $t, $r, $b, $l) {
  position: $position;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin flex($fd, $fw, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: $fw;
  justify-content: $jc;
  align-items: $ai;
}

@mixin margin($mt, $mr, $mb, $ml) {
  margin-top: $mt;
  margin-right: $mr;
  margin-bottom: $mb;
  margin-left: $ml;
}

@mixin padding($pt, $pr, $pb, $pl) {
  padding-top: $pt;
  padding-right: $pr;
  padding-bottom: $pb;
  padding-left: $pl;
}

@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin sizeGrid($number, $margin) {
  flex-basis: calc(100% / #{$number} - 2 * #{$margin});
}

@mixin transition($one, $two, $three, $duration, $function) {
  transition-property: $one, $two, $three;
  transition-duration: $duration;
  transition-timing-function: $function;
}
